
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {

}

.spinner_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner__inner {
    box-sizing: border-box;

    border: 2px solid transparent;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    font-size: 15px;
    line-height: 28px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) -2px -73px;

    display: inline-block;
    border-top-color: #fc0;
    border-left-color: #fc0;
    animation: spinner 1s infinite linear;
    backface-visibility: hidden;
}

.spinner__inner:after {
    visibility: hidden;

    content: '\00A0'; /* &nbsp; */
}
