
.card {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.card:not(:empty) {
    margin-bottom: 8px;
}

.card:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, .05);
    z-index: 1;
}

.card__close {
    position: absolute;
    top: 0;
    right: 0;
    will-change: transform;
}

.card__image {

}

.card__profile {
    padding: 12px 16px;
    position: relative;
    background: #fff;
}

.card__article {
    padding: 12px 0 0;
}

.image {

}

.image__image {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.image_hidden .image__image {
    opacity: 0;
}

.person {
    min-height: 40px;
    width: 100%;
    display: flex;
}

.person__avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    flex-shrink: 0;
}

.person__info {
    padding-left: 12px;
}

.avatar {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05) 50%;
    object-fit: cover;
    display: block;
    border-radius: 100%;
}

.board {
}

.board__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    max-width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    color: #07c;
    opacity: 1;
}

.user {
    hyphens: auto;
    pointer-events: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 100%;
}

.user__link {
    vertical-align: middle;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .4;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-right: 4px;
}

.user__link::first-letter {
    color: red;
}

.user__link:after {
    content: ","
}

.date {
    color: #000;
    display: inline-block;
    vertical-align: middle;
}

.date__desc {
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
    font-size: 14px;
    line-height: 20px;
}

.article {
    margin: -3px 0 0;
}

.article__desc {
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
}

.article__link {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    color: #0a7700;
    z-index: 1;
    text-decoration: none;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.close {
    width: 48px;
    height: 48px;
    position: relative;
    background: transparent;
    border: none;
}

.close__icon {
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='rgba(0,0,0,.3)'%3E%3Cpath fill-rule='evenodd' d='M6 4.545L1.455 0 0 1.455 4.545 6 0 10.545 1.455 12 6 7.455 10.545 12 12 10.545 7.455 6 12 1.455 10.545 0z'/%3E%3C/svg%3E") rgba(255, 255, 255, .7) no-repeat 50%;
    border-radius: 100%;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    display: inline-block;
    position: absolute;
}
